example_schematron_schema.xml

<schema xmlns="http://www.ascc.net/xml/schematron" >
  <pattern name="id is the only permitted attribute name">
    <rule context="*">
      <report test="@*[not(name()='id')]">Attribute
        <name path="@*[not(name()='id')]"/> is forbidden<name/>
      </report>
    </rule>
  </pattern>
</schema>